<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x01</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Pointer</string>
		<key>02</key>
		<string>Mouse</string>
		<key>03</key>
		<string>Reserved</string>
		<key>04</key>
		<string>Joystick</string>
		<key>05</key>
		<string>Game Pad</string>
		<key>06</key>
		<string>Keyboard</string>
		<key>07</key>
		<string>Keypad</string>
		<key>08</key>
		<string>Multi-Axis Controller</string>
		<key>09</key>
		<string>Tablet PC System Controls</string>
		<key>30</key>
		<string>X</string>
		<key>31</key>
		<string>Y</string>
		<key>32</key>
		<string>Z</string>
		<key>33</key>
		<string>Rx</string>
		<key>34</key>
		<string>Ry</string>
		<key>35</key>
		<string>Rz</string>
		<key>36</key>
		<string>Slider</string>
		<key>37</key>
		<string>Dial</string>
		<key>38</key>
		<string>Wheel</string>
		<key>39</key>
		<string>Hat Switch</string>
		<key>3A</key>
		<string>Counted Buffer</string>
		<key>3B</key>
		<string>Byte Count</string>
		<key>3C</key>
		<string>Motion Wakeup</string>
		<key>3D</key>
		<string>Start</string>
		<key>3E</key>
		<string>Select</string>
		<key>40</key>
		<string>Vx</string>
		<key>41</key>
		<string>Vy</string>
		<key>42</key>
		<string>Vz</string>
		<key>43</key>
		<string>Vbrx</string>
		<key>44</key>
		<string>Vbry</string>
		<key>45</key>
		<string>Vbrz</string>
		<key>46</key>
		<string>Vno</string>
		<key>47</key>
		<string>Feature Notification</string>
		<key>48</key>
		<string>Resolution Multiplier</string>
		<key>80</key>
		<string>System Control</string>
		<key>81</key>
		<string>System Power Down</string>
		<key>82</key>
		<string>System Sleep</string>
		<key>83</key>
		<string>System Wake Up</string>
		<key>84</key>
		<string>System Context Menu</string>
		<key>85</key>
		<string>System Main Menu</string>
		<key>86</key>
		<string>System App Menu</string>
		<key>87</key>
		<string>System Menu Help</string>
		<key>88</key>
		<string>System Menu Exit</string>
		<key>89</key>
		<string>System Menu Select</string>
		<key>8A</key>
		<string>System Menu Right</string>
		<key>8B</key>
		<string>System Menu Left</string>
		<key>8C</key>
		<string>System Menu Up</string>
		<key>8D</key>
		<string>System Menu Down</string>
		<key>8E</key>
		<string>System Cold Restart</string>
		<key>8F</key>
		<string>System Warm Restart</string>
		<key>90</key>
		<string>D-pad Up</string>
		<key>91</key>
		<string>D-pad Down</string>
		<key>92</key>
		<string>D-pad Right</string>
		<key>93</key>
		<string>D-pad Left</string>
		<key>A0</key>
		<string>System Dock</string>
		<key>A1</key>
		<string>System Undock</string>
		<key>A2</key>
		<string>System Setup</string>
		<key>A3</key>
		<string>System Break</string>
		<key>A4</key>
		<string>System Debugger Break</string>
		<key>A5</key>
		<string>Application Break</string>
		<key>A6</key>
		<string>Application Debugger Break</string>
		<key>A7</key>
		<string>System Speaker Mute</string>
		<key>A8</key>
		<string>System Hibernate</string>
		<key>B0</key>
		<string>System Display Invert</string>
		<key>B1</key>
		<string>System Display Internal</string>
		<key>B2</key>
		<string>System Display External</string>
		<key>B3</key>
		<string>System Display Both</string>
		<key>B4</key>
		<string>System Display Dual</string>
		<key>B5</key>
		<string>System Display Toggle Internal/External</string>
		<key>B6</key>
		<string>System Display Swap Primary/Secondary</string>
		<key>B7</key>
		<string>System Display LCD Autoscale</string>
	</dict>
	<key>0x02</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Flight Simulation Device</string>
		<key>02</key>
		<string>Automobile Simulation Device</string>
		<key>03</key>
		<string>Tank Simulation Device</string>
		<key>04</key>
		<string>Spaceship Simulation Device</string>
		<key>05</key>
		<string>Submarine Simulation Device</string>
		<key>06</key>
		<string>Sailing Simulation Device</string>
		<key>07</key>
		<string>Motorcycle Simulation Device</string>
		<key>08</key>
		<string>Sports Simulation Device</string>
		<key>09</key>
		<string>Airplane Simulation Device</string>
		<key>0A</key>
		<string>Helicopter Simulation Device</string>
		<key>0B</key>
		<string>Magic Carpet Simulation Device</string>
		<key>0C</key>
		<string>Bicycle Simulation Device</string>
		<key>20</key>
		<string>Flight Control Stick</string>
		<key>21</key>
		<string>Flight Stick</string>
		<key>22</key>
		<string>Cyclic Control</string>
		<key>23</key>
		<string>Cyclic Trim</string>
		<key>24</key>
		<string>Flight Yoke</string>
		<key>25</key>
		<string>Track Control</string>
		<key>B0</key>
		<string>Aileron</string>
		<key>B1</key>
		<string>Aileron Trim</string>
		<key>B2</key>
		<string>Anti-Torque Control</string>
		<key>B3</key>
		<string>Autopilot Enable</string>
		<key>B4</key>
		<string>Chaff Release</string>
		<key>B5</key>
		<string>Collective Control</string>
		<key>B6</key>
		<string>Dive Brake</string>
		<key>B7</key>
		<string>Electronic Countermeasures</string>
		<key>B8</key>
		<string>Elevator</string>
		<key>B9</key>
		<string>Elevator Trim</string>
		<key>BA</key>
		<string>Rudder</string>
		<key>BB</key>
		<string>Throttle</string>
		<key>BC</key>
		<string>Flight Communications</string>
		<key>BD</key>
		<string>Flare Release</string>
		<key>BE</key>
		<string>Landing Gear</string>
		<key>BF</key>
		<string>Toe Brake</string>
		<key>C0</key>
		<string>Trigger</string>
		<key>C1</key>
		<string>Weapons Arm</string>
		<key>C2</key>
		<string>Weapons Select</string>
		<key>C3</key>
		<string>Wing Flaps</string>
		<key>C4</key>
		<string>Accelerator</string>
		<key>C5</key>
		<string>Brake</string>
		<key>C6</key>
		<string>Clutch</string>
		<key>C7</key>
		<string>Shifter</string>
		<key>C8</key>
		<string>Steering</string>
		<key>C9</key>
		<string>Turret Direction</string>
		<key>CA</key>
		<string>Barrel Elecation</string>
		<key>CB</key>
		<string>Dive Plane</string>
		<key>CC</key>
		<string>Ballast</string>
		<key>CD</key>
		<string>Bicycle Crank</string>
		<key>CE</key>
		<string>Handle Bars</string>
		<key>CF</key>
		<string>Front Brake</string>
		<key>D0</key>
		<string>Rear Brake</string>
	</dict>
	<key>0x03</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Belt</string>
		<key>02</key>
		<string>Body Suit</string>
		<key>03</key>
		<string>Flexor</string>
		<key>04</key>
		<string>Glove</string>
		<key>05</key>
		<string>Head Tracker</string>
		<key>06</key>
		<string>Head Mounted Display</string>
		<key>07</key>
		<string>Hand Tracker</string>
		<key>08</key>
		<string>Oculometer</string>
		<key>09</key>
		<string>Vest</string>
		<key>0A</key>
		<string>Animatronic Device</string>
		<key>20</key>
		<string>Stereo Enable</string>
		<key>21</key>
		<string>Display Enable</string>
	</dict>
	<key>0x04</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Baseball Bat</string>
		<key>02</key>
		<string>Golf Club</string>
		<key>03</key>
		<string>Rowing Machine</string>
		<key>04</key>
		<string>Treadmill</string>
		<key>30</key>
		<string>Oar</string>
		<key>31</key>
		<string>Slope</string>
		<key>32</key>
		<string>Rate</string>
		<key>33</key>
		<string>Stick Speed</string>
		<key>34</key>
		<string>Stick Face Angle</string>
		<key>35</key>
		<string>Stick Heel/Toe</string>
		<key>36</key>
		<string>Stick Follow Through</string>
		<key>37</key>
		<string>Stick Tempo</string>
		<key>38</key>
		<string>Stick Type</string>
		<key>39</key>
		<string>Stick Height</string>
		<key>50</key>
		<string>Putter</string>
		<key>51</key>
		<string>1 Iron</string>
		<key>52</key>
		<string>2 Iron</string>
		<key>53</key>
		<string>3 Iron</string>
		<key>54</key>
		<string>4 Iron</string>
		<key>55</key>
		<string>5 Iron</string>
		<key>56</key>
		<string>6 Iron</string>
		<key>57</key>
		<string>7 Iron</string>
		<key>58</key>
		<string>8 Iron</string>
		<key>59</key>
		<string>9 Iron</string>
		<key>5A</key>
		<string>10 Iron</string>
		<key>5B</key>
		<string>11 Iron</string>
		<key>5C</key>
		<string>Sand Wedge</string>
		<key>5D</key>
		<string>Loft Wedge</string>
		<key>5E</key>
		<string>Power Wedge</string>
		<key>5F</key>
		<string>1 Wood</string>
		<key>60</key>
		<string>3 Wood</string>
		<key>61</key>
		<string>5 Wood</string>
		<key>62</key>
		<string>7 Wood</string>
		<key>63</key>
		<string>9 Wood</string>
	</dict>
	<key>0x05</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>3D Game Controller</string>
		<key>02</key>
		<string>Pinball Device</string>
		<key>03</key>
		<string>Gun Device</string>
		<key>20</key>
		<string>Point of View</string>
		<key>21</key>
		<string>Turn Right/Left</string>
		<key>22</key>
		<string>Pitch Forward/Backward</string>
		<key>23</key>
		<string>Roll Right/Left</string>
		<key>24</key>
		<string>Move Right/Left</string>
		<key>25</key>
		<string>Move Forward/Backward</string>
		<key>26</key>
		<string>Move Up/Down</string>
		<key>27</key>
		<string>Lean Right/Left</string>
		<key>28</key>
		<string>Lean Forward/Backward</string>
		<key>29</key>
		<string>Height of POV</string>
		<key>2A</key>
		<string>Flipper</string>
		<key>2B</key>
		<string>Secondary Flipper</string>
		<key>2C</key>
		<string>Bump</string>
		<key>2D</key>
		<string>New Game</string>
		<key>2E</key>
		<string>Shoot Ball</string>
		<key>2F</key>
		<string>Player</string>
		<key>30</key>
		<string>Gun Bolt</string>
		<key>31</key>
		<string>Gun Clip</string>
		<key>32</key>
		<string>Gun Selector</string>
		<key>33</key>
		<string>Gun Single Shot</string>
		<key>34</key>
		<string>Gun Burst</string>
		<key>35</key>
		<string>Gun Automatic</string>
		<key>36</key>
		<string>Gun Safety</string>
		<key>37</key>
		<string>Gamepad Fire/Jump</string>
		<key>39</key>
		<string>Gamepad Trigger</string>
	</dict>
	<key>0x06</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>20</key>
		<string>Battery Strength</string>
		<key>21</key>
		<string>Wireless Channel</string>
		<key>22</key>
		<string>Wireless ID</string>
		<key>23</key>
		<string>Discover Wireless Control</string>
		<key>24</key>
		<string>Security Code Character Entered</string>
		<key>25</key>
		<string>Security Code Character Erased</string>
		<key>26</key>
		<string>Security Code Cleared</string>
	</dict>
	<key>0x08</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Num Lock</string>
		<key>02</key>
		<string>Caps Lock</string>
		<key>03</key>
		<string>Scroll Lock</string>
		<key>04</key>
		<string>Compose</string>
		<key>05</key>
		<string>Kana</string>
		<key>06</key>
		<string>Power</string>
		<key>07</key>
		<string>Shift</string>
		<key>08</key>
		<string>Do Not Disturb</string>
		<key>09</key>
		<string>Mute</string>
		<key>0A</key>
		<string>Tone Enable</string>
		<key>0B</key>
		<string>High Cut Filter</string>
		<key>0C</key>
		<string>Low Cut Filter</string>
		<key>0D</key>
		<string>Equalizer Enable</string>
		<key>0E</key>
		<string>Sound Field On</string>
		<key>0F</key>
		<string>Surround On</string>
		<key>10</key>
		<string>Repeat</string>
		<key>11</key>
		<string>Stereo</string>
		<key>12</key>
		<string>Sampling Rate Detect</string>
		<key>13</key>
		<string>Spinning</string>
		<key>14</key>
		<string>CAV</string>
		<key>15</key>
		<string>CLV</string>
		<key>16</key>
		<string>Recording Format Detect</string>
		<key>17</key>
		<string>Off-Hook</string>
		<key>18</key>
		<string>Ring</string>
		<key>19</key>
		<string>Message Waiting</string>
		<key>1A</key>
		<string>Data Mode</string>
		<key>1B</key>
		<string>Battery Operation</string>
		<key>1C</key>
		<string>Battery Okay</string>
		<key>1D</key>
		<string>Battery Low</string>
		<key>1E</key>
		<string>Speaker</string>
		<key>1F</key>
		<string>Head Set</string>
		<key>20</key>
		<string>Hold</string>
		<key>21</key>
		<string>Microphone</string>
		<key>22</key>
		<string>Coverage</string>
		<key>23</key>
		<string>Night Mode</string>
		<key>24</key>
		<string>Send Calls</string>
		<key>25</key>
		<string>Call Pickup</string>
		<key>26</key>
		<string>Conference</string>
		<key>27</key>
		<string>Stand-by</string>
		<key>28</key>
		<string>Camera On</string>
		<key>29</key>
		<string>Camera Off</string>
		<key>2A</key>
		<string>On-Line</string>
		<key>2B</key>
		<string>Off-Line</string>
		<key>2C</key>
		<string>Busy</string>
		<key>2D</key>
		<string>Ready</string>
		<key>2E</key>
		<string>Paper-Out</string>
		<key>2F</key>
		<string>Paper-Jam</string>
		<key>30</key>
		<string>Remote</string>
		<key>31</key>
		<string>Forward</string>
		<key>32</key>
		<string>Reverse</string>
		<key>33</key>
		<string>Stop</string>
		<key>34</key>
		<string>Rewind</string>
		<key>35</key>
		<string>Fast Forward</string>
		<key>36</key>
		<string>Play</string>
		<key>37</key>
		<string>Pause</string>
		<key>38</key>
		<string>Record</string>
		<key>39</key>
		<string>Error</string>
		<key>3A</key>
		<string>Usage Selected Indicator</string>
		<key>3B</key>
		<string>Usage In Use Indicator</string>
		<key>3C</key>
		<string>Usage Multi Mode Indicator</string>
		<key>3D</key>
		<string>Indicator On</string>
		<key>3E</key>
		<string>Indicator Flash</string>
		<key>3F</key>
		<string>Indicator Slow Blink</string>
		<key>40</key>
		<string>Indicator Fast Blink</string>
		<key>41</key>
		<string>Indicator Off</string>
		<key>42</key>
		<string>Flash On Time</string>
		<key>43</key>
		<string>Slow Blink On Time</string>
		<key>44</key>
		<string>Slow Blink Off Time</string>
		<key>45</key>
		<string>Fast Blink On Time</string>
		<key>46</key>
		<string>Fast Blink Off Time</string>
		<key>47</key>
		<string>Usage Indicator Color</string>
		<key>48</key>
		<string>Indicator Red</string>
		<key>49</key>
		<string>Indicator Green</string>
		<key>4A</key>
		<string>Indicator Amber</string>
		<key>4B</key>
		<string>Generic Indicator</string>
		<key>4C</key>
		<string>System Suspend</string>
		<key>4D</key>
		<string>External Power Connected</string>
	</dict>
	<key>0x09</key>
	<dict>
		<key>00</key>
		<string>No Button Pressed</string>
		<key>*</key>
		<string>Button %d</string>
	</dict>
	<key>0x0A</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>*</key>
		<string>Instance %d</string>
	</dict>
	<key>0x0D</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Digitizer</string>
		<key>02</key>
		<string>Pen</string>
		<key>03</key>
		<string>Light Pen</string>
		<key>04</key>
		<string>Touch Screen</string>
		<key>05</key>
		<string>Touch Pad</string>
		<key>06</key>
		<string>White Board</string>
		<key>07</key>
		<string>Coordinate Measuring Machine</string>
		<key>08</key>
		<string>3D Digitizer</string>
		<key>09</key>
		<string>Stereo Plotter</string>
		<key>0A</key>
		<string>Articulated Arm</string>
		<key>0B</key>
		<string>Armature</string>
		<key>0C</key>
		<string>Multiple Point Digitizer</string>
		<key>0D</key>
		<string>Free Space Wand</string>
		<key>20</key>
		<string>Stylus</string>
		<key>21</key>
		<string>Puck</string>
		<key>22</key>
		<string>Finger</string>
		<key>30</key>
		<string>Tip Pressure</string>
		<key>31</key>
		<string>Barrel Pressure</string>
		<key>32</key>
		<string>In Range</string>
		<key>33</key>
		<string>Touch</string>
		<key>34</key>
		<string>Untouch</string>
		<key>35</key>
		<string>Tap</string>
		<key>36</key>
		<string>Quality</string>
		<key>37</key>
		<string>Data Valid</string>
		<key>38</key>
		<string>Transducer Index</string>
		<key>39</key>
		<string>Tablet Function Keys</string>
		<key>3A</key>
		<string>Program Change Keys</string>
		<key>3B</key>
		<string>Battery Strength</string>
		<key>3C</key>
		<string>Invert</string>
		<key>3D</key>
		<string>X Tilt</string>
		<key>3E</key>
		<string>Y Tilt</string>
		<key>3F</key>
		<string>Azimuth</string>
		<key>40</key>
		<string>Altitude</string>
		<key>41</key>
		<string>Twist</string>
		<key>42</key>
		<string>Tip Switch</string>
		<key>43</key>
		<string>Secondary Tip Switch</string>
		<key>44</key>
		<string>Barrel Switch</string>
		<key>45</key>
		<string>Eraser</string>
		<key>46</key>
		<string>Tablet Pick</string>
	</dict>
	<key>0x10</key>
	<dict>
		<key>*</key>
		<string>Unicode Character \u%04x</string>
	</dict>
	<key>UsagePages</key>
	<dict>
		<key>0x00</key>
		<string>Undefined</string>
		<key>0x01</key>
		<string>Generic Desktop</string>
		<key>0x02</key>
		<string>Simulation Controls</string>
		<key>0x03</key>
		<string>VR Controls</string>
		<key>0x04</key>
		<string>Sports Controls</string>
		<key>0x05</key>
		<string>Game Controls</string>
		<key>0x06</key>
		<string>Generic Device Controls</string>
		<key>0x07</key>
		<string>Keyboard</string>
		<key>0x08</key>
		<string>LEDs</string>
		<key>0x09</key>
		<string>Button</string>
		<key>0x0A</key>
		<string>Ordinal</string>
		<key>0x0B</key>
		<string>Telephony</string>
		<key>0x0C</key>
		<string>Consumer</string>
		<key>0x0D</key>
		<string>Digitizer</string>
		<key>0x0F</key>
		<string>Physical Interface Device</string>
		<key>0x10</key>
		<string>Unicode</string>
		<key>0x14</key>
		<string>Alphanumeric Display</string>
		<key>0x40</key>
		<string>Medical Instruments</string>
		<key>0x80</key>
		<string>Monitor</string>
		<key>0x81</key>
		<string>Monitor Enumerated Values</string>
		<key>0x82</key>
		<string>VESA Virtual Controls</string>
		<key>0x83</key>
		<string>VESA Command</string>
		<key>0x84</key>
		<string>Power Device</string>
		<key>0x85</key>
		<string>Battery System</string>
		<key>0x86</key>
		<string>Power Device</string>
		<key>0x87</key>
		<string>Power Device</string>
		<key>0x8C</key>
		<string>Bar Code Scanner</string>
		<key>0x8D</key>
		<string>Scale</string>
		<key>0x8E</key>
		<string>Magnetic Stripe Reader</string>
		<key>0x8F</key>
		<string>Point of Sale (POS) Device (Reserved)</string>
		<key>0x90</key>
		<string>Camera Control</string>
		<key>0x91</key>
		<string>Arcade</string>
		<key>ReservedRangeString</key>
		<string>Reserved</string>
		<key>VendorDefinedRangeString</key>
		<string>Vendor Defined</string>
	</dict>
</dict>
</plist>
