<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x01</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Pointer</string>
		<key>02</key>
		<string>Mouse</string>
		<key>03</key>
		<string>Reserved</string>
		<key>04</key>
		<string>Joystick</string>
		<key>05</key>
		<string>Game Pad</string>
		<key>06</key>
		<string>Keyboard</string>
		<key>07</key>
		<string>Keypad</string>
		<key>08</key>
		<string>Multi-Axis Controller</string>
		<key>09</key>
		<string>Tablet PC System Controls</string>
		<key>30</key>
		<string>X</string>
		<key>31</key>
		<string>Y</string>
		<key>32</key>
		<string>Z</string>
		<key>33</key>
		<string>Rx</string>
		<key>34</key>
		<string>Ry</string>
		<key>35</key>
		<string>Rz</string>
		<key>36</key>
		<string>Slider</string>
		<key>37</key>
		<string>Dial</string>
		<key>38</key>
		<string>Wheel</string>
		<key>39</key>
		<string>Hat Switch</string>
		<key>3A</key>
		<string>Counted Buffer</string>
		<key>3B</key>
		<string>Byte Count</string>
		<key>3C</key>
		<string>Motion Wakeup</string>
		<key>3D</key>
		<string>Start</string>
		<key>3E</key>
		<string>Select</string>
		<key>40</key>
		<string>Vx</string>
		<key>41</key>
		<string>Vy</string>
		<key>42</key>
		<string>Vz</string>
		<key>43</key>
		<string>Vbrx</string>
		<key>44</key>
		<string>Vbry</string>
		<key>45</key>
		<string>Vbrz</string>
		<key>46</key>
		<string>Vno</string>
		<key>47</key>
		<string>Feature Notification</string>
		<key>48</key>
		<string>Resolution Multiplier</string>
		<key>80</key>
		<string>System Control</string>
		<key>81</key>
		<string>System Power Down</string>
		<key>82</key>
		<string>System Sleep</string>
		<key>83</key>
		<string>System Wake Up</string>
		<key>84</key>
		<string>System Context Menu</string>
		<key>85</key>
		<string>System Main Menu</string>
		<key>86</key>
		<string>System App Menu</string>
		<key>87</key>
		<string>System Menu Help</string>
		<key>88</key>
		<string>System Menu Exit</string>
		<key>89</key>
		<string>System Menu Select</string>
		<key>8A</key>
		<string>System Menu Right</string>
		<key>8B</key>
		<string>System Menu Left</string>
		<key>8C</key>
		<string>System Menu Up</string>
		<key>8D</key>
		<string>System Menu Down</string>
		<key>8E</key>
		<string>System Cold Restart</string>
		<key>8F</key>
		<string>System Warm Restart</string>
		<key>90</key>
		<string>D-pad Up</string>
		<key>91</key>
		<string>D-pad Down</string>
		<key>92</key>
		<string>D-pad Right</string>
		<key>93</key>
		<string>D-pad Left</string>
		<key>A0</key>
		<string>System Dock</string>
		<key>A1</key>
		<string>System Undock</string>
		<key>A2</key>
		<string>System Setup</string>
		<key>A3</key>
		<string>System Break</string>
		<key>A4</key>
		<string>System Debugger Break</string>
		<key>A5</key>
		<string>Application Break</string>
		<key>A6</key>
		<string>Application Debugger Break</string>
		<key>A7</key>
		<string>System Speaker Mute</string>
		<key>A8</key>
		<string>System Hibernate</string>
		<key>B0</key>
		<string>System Display Invert</string>
		<key>B1</key>
		<string>System Display Internal</string>
		<key>B2</key>
		<string>System Display External</string>
		<key>B3</key>
		<string>System Display Both</string>
		<key>B4</key>
		<string>System Display Dual</string>
		<key>B5</key>
		<string>System Display Toggle Internal/External</string>
		<key>B6</key>
		<string>System Display Swap Primary/Secondary</string>
		<key>B7</key>
		<string>System Display LCD Autoscale</string>
	</dict>
	<key>0x02</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Flight Simulation Device</string>
		<key>02</key>
		<string>Automobile Simulation Device</string>
		<key>03</key>
		<string>Tank Simulation Device</string>
		<key>04</key>
		<string>Spaceship Simulation Device</string>
		<key>05</key>
		<string>Submarine Simulation Device</string>
		<key>06</key>
		<string>Sailing Simulation Device</string>
		<key>07</key>
		<string>Motorcycle Simulation Device</string>
		<key>08</key>
		<string>Sports Simulation Device</string>
		<key>09</key>
		<string>Airplane Simulation Device</string>
		<key>0A</key>
		<string>Helicopter Simulation Device</string>
		<key>0B</key>
		<string>Magic Carpet Simulation Device</string>
		<key>0C</key>
		<string>Bicycle Simulation Device</string>
		<key>20</key>
		<string>Flight Control Stick</string>
		<key>21</key>
		<string>Flight Stick</string>
		<key>22</key>
		<string>Cyclic Control</string>
		<key>23</key>
		<string>Cyclic Trim</string>
		<key>24</key>
		<string>Flight Yoke</string>
		<key>25</key>
		<string>Track Control</string>
		<key>B0</key>
		<string>Aileron</string>
		<key>B1</key>
		<string>Aileron Trim</string>
		<key>B2</key>
		<string>Anti-Torque Control</string>
		<key>B3</key>
		<string>Autopilot Enable</string>
		<key>B4</key>
		<string>Chaff Release</string>
		<key>B5</key>
		<string>Collective Control</string>
		<key>B6</key>
		<string>Dive Brake</string>
		<key>B7</key>
		<string>Electronic Countermeasures</string>
		<key>B8</key>
		<string>Elevator</string>
		<key>B9</key>
		<string>Elevator Trim</string>
		<key>BA</key>
		<string>Rudder</string>
		<key>BB</key>
		<string>Throttle</string>
		<key>BC</key>
		<string>Flight Communications</string>
		<key>BD</key>
		<string>Flare Release</string>
		<key>BE</key>
		<string>Landing Gear</string>
		<key>BF</key>
		<string>Toe Brake</string>
		<key>C0</key>
		<string>Trigger</string>
		<key>C1</key>
		<string>Weapons Arm</string>
		<key>C2</key>
		<string>Weapons Select</string>
		<key>C3</key>
		<string>Wing Flaps</string>
		<key>C4</key>
		<string>Accelerator</string>
		<key>C5</key>
		<string>Brake</string>
		<key>C6</key>
		<string>Clutch</string>
		<key>C7</key>
		<string>Shifter</string>
		<key>C8</key>
		<string>Steering</string>
		<key>C9</key>
		<string>Turret Direction</string>
		<key>CA</key>
		<string>Barrel Elecation</string>
		<key>CB</key>
		<string>Dive Plane</string>
		<key>CC</key>
		<string>Ballast</string>
		<key>CD</key>
		<string>Bicycle Crank</string>
		<key>CE</key>
		<string>Handle Bars</string>
		<key>CF</key>
		<string>Front Brake</string>
		<key>D0</key>
		<string>Rear Brake</string>
	</dict>
	<key>0x03</key>
	<dict>
		<key>00</key>
		<string>Unidentified</string>
		<key>01</key>
		<string>Belt</string>
		<key>02</key>
		<string>Body Suit</string>
		<key>03</key>
		<string>Flexor</string>
		<key>04</key>
		<string>Glove</string>
		<key>05</key>
		<string>Head Tracker</string>
		<key>06</key>
		<string>Head Mounted Display</string>
		<key>07</key>
		<string>Hand Tracker</string>
		<key>08</key>
		<string>Oculometer</string>
		<key>09</key>
		<string>Vest</string>
		<key>0A</key>
		<string>Animatronic Device</string>
		<key>20</key>
		<string>Stereo Enable</string>
		<key>21</key>
		<string>Display Enable</string>
	</dict>
	<key>0x04</key>
	<dict>
		<key>00</key>
		<string>Unidentified</string>
		<key>01</key>
		<string>Baseball Bat</string>
		<key>02</key>
		<string>Golf Club</string>
		<key>03</key>
		<string>Rowing Machine</string>
		<key>04</key>
		<string>Treadmill</string>
		<key>30</key>
		<string>Oar</string>
		<key>31</key>
		<string>Slope</string>
		<key>32</key>
		<string>Rate</string>
		<key>33</key>
		<string>Stick Speed</string>
		<key>34</key>
		<string>Stick Face Angle</string>
		<key>35</key>
		<string>Stick Heel/Toe</string>
		<key>36</key>
		<string>Stick Follow Through</string>
		<key>37</key>
		<string>Stick Tempo</string>
		<key>38</key>
		<string>Stick Type</string>
		<key>39</key>
		<string>Stick Height</string>
		<key>50</key>
		<string>Putter</string>
		<key>51</key>
		<string>1 Iron</string>
		<key>52</key>
		<string>2 Iron</string>
		<key>53</key>
		<string>3 Iron</string>
		<key>54</key>
		<string>4 Iron</string>
		<key>55</key>
		<string>5 Iron</string>
		<key>56</key>
		<string>6 Iron</string>
		<key>57</key>
		<string>7 Iron</string>
		<key>58</key>
		<string>8 Iron</string>
		<key>59</key>
		<string>9 Iron</string>
		<key>5A</key>
		<string>10 Iron</string>
		<key>5B</key>
		<string>11 Iron</string>
		<key>5C</key>
		<string>Sand Wedge</string>
		<key>5D</key>
		<string>Loft Wedge</string>
		<key>5E</key>
		<string>Power Wedge</string>
		<key>5F</key>
		<string>1 Wood</string>
		<key>60</key>
		<string>3 Wood</string>
		<key>61</key>
		<string>5 Wood</string>
		<key>62</key>
		<string>7 Wood</string>
		<key>63</key>
		<string>9 Wood</string>
	</dict>
	<key>0x05</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>3D Game Controller</string>
		<key>02</key>
		<string>Pinball Device</string>
		<key>03</key>
		<string>Gun Device</string>
		<key>20</key>
		<string>Point of View</string>
		<key>21</key>
		<string>Turn Right/Left</string>
		<key>22</key>
		<string>Pitch Forward/Backward</string>
		<key>23</key>
		<string>Roll Right/Left</string>
		<key>24</key>
		<string>Move Right/Left</string>
		<key>25</key>
		<string>Move Forward/Backward</string>
		<key>26</key>
		<string>Move Up/Down</string>
		<key>27</key>
		<string>Lean Right/Left</string>
		<key>28</key>
		<string>Lean Forward/Backward</string>
		<key>29</key>
		<string>Height of POV</string>
		<key>2A</key>
		<string>Flipper</string>
		<key>2B</key>
		<string>Secondary Flipper</string>
		<key>2C</key>
		<string>Bump</string>
		<key>2D</key>
		<string>New Game</string>
		<key>2E</key>
		<string>Shoot Ball</string>
		<key>2F</key>
		<string>Player</string>
		<key>30</key>
		<string>Gun Bolt</string>
		<key>31</key>
		<string>Gun Clip</string>
		<key>32</key>
		<string>Gun Selector</string>
		<key>33</key>
		<string>Gun Single Shot</string>
		<key>34</key>
		<string>Gun Burst</string>
		<key>35</key>
		<string>Gun Automatic</string>
		<key>36</key>
		<string>Gun Safety</string>
		<key>37</key>
		<string>Gamepad Fire/Jump</string>
		<key>39</key>
		<string>Gamepad Trigger</string>
	</dict>
	<key>0x06</key>
	<dict>
		<key>00</key>
		<string>Unidentified</string>
		<key>20</key>
		<string>Battery Strength</string>
		<key>21</key>
		<string>Wireless Channel</string>
		<key>22</key>
		<string>Wireless ID</string>
		<key>23</key>
		<string>Discover Wireless Control</string>
		<key>24</key>
		<string>Security Code Character Entered</string>
		<key>25</key>
		<string>Security Code Character Erased</string>
		<key>26</key>
		<string>Security Code Cleared</string>
	</dict>
	<key>0x07</key>
	<dict>
		<key>00</key>
		<string>Reserved (No Event)</string>
		<key>01</key>
		<string>Keyboard Error - Roll Over</string>
		<key>02</key>
		<string>Keyboard Error - POST Failure</string>
		<key>03</key>
		<string>Keyboard Error - Undefined</string>
		<key>04</key>
		<string>Keyboard a and A</string>
		<key>05</key>
		<string>Keyboard b and B</string>
		<key>06</key>
		<string>Keyboard c and C</string>
		<key>07</key>
		<string>Keyboard d and D</string>
		<key>08</key>
		<string>Keyboard e and E</string>
		<key>09</key>
		<string>Keyboard f and F</string>
		<key>0A</key>
		<string>Keyboard g and G</string>
		<key>0B</key>
		<string>Keyboard h and H</string>
		<key>0C</key>
		<string>Keyboard i and I</string>
		<key>0D</key>
		<string>Keyboard j and J</string>
		<key>0E</key>
		<string>Keyboard k and K</string>
		<key>0F</key>
		<string>Keyboard l and L</string>
		<key>10</key>
		<string>Keyboard m and M</string>
		<key>11</key>
		<string>Keyboard n and N</string>
		<key>12</key>
		<string>Keyboard o and O</string>
		<key>13</key>
		<string>Keyboard p and P</string>
		<key>14</key>
		<string>Keyboard q and Q</string>
		<key>15</key>
		<string>Keyboard r and R</string>
		<key>16</key>
		<string>Keyboard s and S</string>
		<key>17</key>
		<string>Keyboard t and T</string>
		<key>18</key>
		<string>Keyboard u and U</string>
		<key>19</key>
		<string>Keyboard v and V</string>
		<key>1A</key>
		<string>Keyboard w and W</string>
		<key>1B</key>
		<string>Keyboard x and X</string>
		<key>1C</key>
		<string>Keyboard y and Y</string>
		<key>1D</key>
		<string>Keyboard z and Z</string>
		<key>1E</key>
		<string>Keyboard 1 and !</string>
		<key>1F</key>
		<string>Keyboard 2 and @</string>
		<key>20</key>
		<string>Keyboard 3 and #</string>
		<key>21</key>
		<string>Keyboard 4 and $</string>
		<key>22</key>
		<string>Keyboard 5 and %</string>
		<key>23</key>
		<string>Keyboard 6 and ^</string>
		<key>24</key>
		<string>Keyboard 7 and &amp;</string>
		<key>25</key>
		<string>Keyboard 8 and *</string>
		<key>26</key>
		<string>Keyboard 9 and (</string>
		<key>27</key>
		<string>Keyboard 0 and )</string>
		<key>28</key>
		<string>Keyboard Return (Enter)</string>
		<key>29</key>
		<string>Keyboard Escape</string>
		<key>2A</key>
		<string>Keyboard Delete (Backspace)</string>
		<key>2B</key>
		<string>Keyboard Tab</string>
		<key>2C</key>
		<string>Keyboard Spacebar</string>
		<key>2D</key>
		<string>Keyboard - and _</string>
		<key>2E</key>
		<string>Keyboard = and +</string>
		<key>2F</key>
		<string>Keyboard [ and {</string>
		<key>30</key>
		<string>Keyboard ] and }</string>
		<key>31</key>
		<string>Keyboard \ and |</string>
		<key>32</key>
		<string>Keyboard Non-US # and ~</string>
		<key>33</key>
		<string>Keyboard ; and :</string>
		<key>34</key>
		<string>Keyboard &apos; and &quot;</string>
		<key>35</key>
		<string>Keyboard Grave Accent and Tilde</string>
		<key>36</key>
		<string>Keyboard , and &lt;</string>
		<key>37</key>
		<string>Keyboard . and &gt;</string>
		<key>38</key>
		<string>Keyboard / and ?</string>
		<key>39</key>
		<string>Keyboard Caps Lock</string>
		<key>3A</key>
		<string>Keyboard F1</string>
		<key>3B</key>
		<string>Keyboard F2</string>
		<key>3C</key>
		<string>Keyboard F3</string>
		<key>3D</key>
		<string>Keyboard F4</string>
		<key>3E</key>
		<string>Keyboard F5</string>
		<key>3F</key>
		<string>Keyboard F6</string>
		<key>40</key>
		<string>Keyboard F7</string>
		<key>41</key>
		<string>Keyboard F8</string>
		<key>42</key>
		<string>Keyboard F9</string>
		<key>43</key>
		<string>Keyboard F10</string>
		<key>44</key>
		<string>Keyboard F11</string>
		<key>45</key>
		<string>Keyboard F12</string>
		<key>46</key>
		<string>Keyboard Print Screen</string>
		<key>47</key>
		<string>Keyboard Scroll Lock</string>
		<key>48</key>
		<string>Keyboard Pause</string>
		<key>49</key>
		<string>Keyboard Insert</string>
		<key>4A</key>
		<string>Keyboard Home</string>
		<key>4B</key>
		<string>Keyboard PageUp</string>
		<key>4C</key>
		<string>Keyboard Delete Forward</string>
		<key>4D</key>
		<string>Keyboard End</string>
		<key>4E</key>
		<string>Keyboard PageDown</string>
		<key>4F</key>
		<string>Keyboard Right Arrow</string>
		<key>50</key>
		<string>Keyboard Left Arrow</string>
		<key>51</key>
		<string>Keyboard Down Arrow</string>
		<key>52</key>
		<string>Keyboard Up Arrow</string>
		<key>53</key>
		<string>Keypad Num Lock and Clear</string>
		<key>54</key>
		<string>Keypad /</string>
		<key>55</key>
		<string>Keypad *</string>
		<key>56</key>
		<string>Keypad -</string>
		<key>57</key>
		<string>Keypad +</string>
		<key>58</key>
		<string>Keypad Enter</string>
		<key>59</key>
		<string>Keypad 1 and End</string>
		<key>5A</key>
		<string>Keypad 2 and Down Arrow</string>
		<key>5B</key>
		<string>Keypad 3 and PageDown</string>
		<key>5C</key>
		<string>Keypad 4 and Left Arrow</string>
		<key>5D</key>
		<string>Keypad 5</string>
		<key>5E</key>
		<string>Keypad 6 and Right Arrow</string>
		<key>5F</key>
		<string>Keypad 7 and Home</string>
		<key>60</key>
		<string>Keypad 8 and Up Arrow</string>
		<key>61</key>
		<string>Keypad 9 and PageUp</string>
		<key>62</key>
		<string>Keypad 0 and Insert</string>
		<key>63</key>
		<string>Keypad . and Delete</string>
		<key>64</key>
		<string>Keyboard Non-US \ and |</string>
		<key>65</key>
		<string>Keyboard Application</string>
		<key>66</key>
		<string>Keyboard Power</string>
		<key>67</key>
		<string>Keypad =</string>
		<key>68</key>
		<string>Keyboard F13</string>
		<key>69</key>
		<string>Keyboard F14</string>
		<key>6A</key>
		<string>Keyboard F15</string>
		<key>6B</key>
		<string>Keyboard F16</string>
		<key>6C</key>
		<string>Keyboard F17</string>
		<key>6D</key>
		<string>Keyboard F18</string>
		<key>6E</key>
		<string>Keyboard F19</string>
		<key>6F</key>
		<string>Keyboard F20</string>
		<key>70</key>
		<string>Keyboard F21</string>
		<key>71</key>
		<string>Keyboard F22</string>
		<key>72</key>
		<string>Keyboard F23</string>
		<key>73</key>
		<string>Keyboard F24</string>
		<key>74</key>
		<string>Keyboard Execute</string>
		<key>75</key>
		<string>Keyboard Help</string>
		<key>76</key>
		<string>Keyboard Menu</string>
		<key>77</key>
		<string>Keyboard Select</string>
		<key>78</key>
		<string>Keyboard Stop</string>
		<key>79</key>
		<string>Keyboard Again</string>
		<key>7A</key>
		<string>Keyboard Undo</string>
		<key>7B</key>
		<string>Keyboard Cut</string>
		<key>7C</key>
		<string>Keyboard Copy</string>
		<key>7D</key>
		<string>Keyboard Paste</string>
		<key>7E</key>
		<string>Keyboard Find</string>
		<key>7F</key>
		<string>Keyboard Mute</string>
		<key>80</key>
		<string>Keyboard Volume Up</string>
		<key>81</key>
		<string>Keyboard Volume Down</string>
		<key>82</key>
		<string>Keyboard Locking Caps Lock</string>
		<key>83</key>
		<string>Keyboard Locking Num Lock</string>
		<key>84</key>
		<string>Keyboard Locking Scroll Lock</string>
		<key>85</key>
		<string>Keypad Comma</string>
		<key>86</key>
		<string>Keypad Equal Sign</string>
		<key>87</key>
		<string>Keyboard International 1</string>
		<key>88</key>
		<string>Keyboard International 2</string>
		<key>89</key>
		<string>Keyboard International 3</string>
		<key>8A</key>
		<string>Keyboard International 4</string>
		<key>8B</key>
		<string>Keyboard International 5</string>
		<key>8C</key>
		<string>Keyboard International 6</string>
		<key>8D</key>
		<string>Keyboard International 7</string>
		<key>8E</key>
		<string>Keyboard International 8</string>
		<key>8F</key>
		<string>Keyboard International 9</string>
		<key>90</key>
		<string>Keyboard LANG1</string>
		<key>91</key>
		<string>Keyboard LANG2</string>
		<key>92</key>
		<string>Keyboard LANG3</string>
		<key>93</key>
		<string>Keyboard LANG4</string>
		<key>94</key>
		<string>Keyboard LANG5</string>
		<key>95</key>
		<string>Keyboard LANG6</string>
		<key>96</key>
		<string>Keyboard LANG7</string>
		<key>97</key>
		<string>Keyboard LANG8</string>
		<key>98</key>
		<string>Keyboard LANG9</string>
		<key>99</key>
		<string>Keyboard Alternate Erase</string>
		<key>9A</key>
		<string>Keyboard SysReq/Attention</string>
		<key>9B</key>
		<string>Keyboard Cancel</string>
		<key>9C</key>
		<string>Keyboard Clear</string>
		<key>9D</key>
		<string>Keyboard Prior</string>
		<key>9E</key>
		<string>Keyboard Return</string>
		<key>9F</key>
		<string>Keyboard Separator</string>
		<key>A0</key>
		<string>Keyboard Out</string>
		<key>A1</key>
		<string>Keyboard Oper</string>
		<key>A2</key>
		<string>Keyboard Clear/Again</string>
		<key>A3</key>
		<string>Keyboard CrSel/Props</string>
		<key>A4</key>
		<string>Keyboard ExSel</string>
		<key>B0</key>
		<string>Keypad 00</string>
		<key>B1</key>
		<string>Keypad 000</string>
		<key>B2</key>
		<string>Thousands Separator</string>
		<key>B3</key>
		<string>Decimal Separator</string>
		<key>B4</key>
		<string>Currency Unit</string>
		<key>B5</key>
		<string>Currency Sub-unit</string>
		<key>B6</key>
		<string>Keypad (</string>
		<key>B7</key>
		<string>Keypad )</string>
		<key>B8</key>
		<string>Keypad {</string>
		<key>B9</key>
		<string>Keypad }</string>
		<key>BA</key>
		<string>Keypad Tab</string>
		<key>BB</key>
		<string>Keypad Backspace</string>
		<key>BC</key>
		<string>Keypad A</string>
		<key>BD</key>
		<string>Keypad B</string>
		<key>BE</key>
		<string>Keypad C</string>
		<key>BF</key>
		<string>Keypad D</string>
		<key>C0</key>
		<string>Keypad E</string>
		<key>C1</key>
		<string>Keypad F</string>
		<key>C2</key>
		<string>Keypad XOR</string>
		<key>C3</key>
		<string>Keypad ^</string>
		<key>C4</key>
		<string>Keypad %</string>
		<key>C5</key>
		<string>Keypad &lt;</string>
		<key>C6</key>
		<string>Keypad &gt;</string>
		<key>C7</key>
		<string>Keypad &amp;</string>
		<key>C8</key>
		<string>Keypad &amp;&amp;</string>
		<key>C9</key>
		<string>Keypad |</string>
		<key>CA</key>
		<string>Keypad ||</string>
		<key>CB</key>
		<string>Keypad :</string>
		<key>CC</key>
		<string>Keypad #</string>
		<key>CD</key>
		<string>Keypad Space</string>
		<key>CE</key>
		<string>Keypad @</string>
		<key>CF</key>
		<string>Keypad !</string>
		<key>D0</key>
		<string>Keypad Memory Store</string>
		<key>D1</key>
		<string>Keypad Memory Recall</string>
		<key>D2</key>
		<string>Keypad Memory Clear</string>
		<key>D3</key>
		<string>Keypad Memory Add</string>
		<key>D4</key>
		<string>Keypad Memory Subtract</string>
		<key>D5</key>
		<string>Keypad Memory Multiply</string>
		<key>D6</key>
		<string>Keypad Memory Divide</string>
		<key>D7</key>
		<string>Keypad +/-</string>
		<key>D8</key>
		<string>Keypad Clear</string>
		<key>D9</key>
		<string>Keypad Clear Entry</string>
		<key>DA</key>
		<string>Keypad Binary</string>
		<key>DB</key>
		<string>Keypad Octal</string>
		<key>DC</key>
		<string>Keypad Decimal</string>
		<key>DD</key>
		<string>Keypad Hexadecimal</string>
		<key>E0</key>
		<string>Keyboard LeftControl</string>
		<key>E1</key>
		<string>Keyboard LeftShift</string>
		<key>E2</key>
		<string>Keyboard LeftAlt</string>
		<key>E3 </key>
		<string>Keyboard Left GUI</string>
		<key>E4</key>
		<string>Keyboard RightControl</string>
		<key>E5</key>
		<string>Keyboard RightShift</string>
		<key>E6</key>
		<string>Keyboard RightAlt</string>
		<key>E7</key>
		<string>Keyboard Right GUI</string>
	</dict>
	<key>0x08</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Num Lock</string>
		<key>02</key>
		<string>Caps Lock</string>
		<key>03</key>
		<string>Scroll Lock</string>
		<key>04</key>
		<string>Compose</string>
		<key>05</key>
		<string>Kana</string>
		<key>06</key>
		<string>Power</string>
		<key>07</key>
		<string>Shift</string>
		<key>08</key>
		<string>Do Not Disturb</string>
		<key>09</key>
		<string>Mute</string>
		<key>0A</key>
		<string>Tone Enable</string>
		<key>0B</key>
		<string>High Cut Filter</string>
		<key>0C</key>
		<string>Low Cut Filter</string>
		<key>0D</key>
		<string>Equalizer Enable</string>
		<key>0E</key>
		<string>Sound Field On</string>
		<key>0F</key>
		<string>Surround On</string>
		<key>10</key>
		<string>Repeat</string>
		<key>11</key>
		<string>Stereo</string>
		<key>12</key>
		<string>Sampling Rate Detect</string>
		<key>13</key>
		<string>Spinning</string>
		<key>14</key>
		<string>CAV</string>
		<key>15</key>
		<string>CLV</string>
		<key>16</key>
		<string>Recording Format Detect</string>
		<key>17</key>
		<string>Off-Hook</string>
		<key>18</key>
		<string>Ring</string>
		<key>19</key>
		<string>Message Waiting</string>
		<key>1A</key>
		<string>Data Mode</string>
		<key>1B</key>
		<string>Battery Operation</string>
		<key>1C</key>
		<string>Battery Okay</string>
		<key>1D</key>
		<string>Battery Low</string>
		<key>1E</key>
		<string>Speaker</string>
		<key>1F</key>
		<string>Head Set</string>
		<key>20</key>
		<string>Hold</string>
		<key>21</key>
		<string>Microphone</string>
		<key>22</key>
		<string>Coverage</string>
		<key>23</key>
		<string>Night Mode</string>
		<key>24</key>
		<string>Send Calls</string>
		<key>25</key>
		<string>Call Pickup</string>
		<key>26</key>
		<string>Conference</string>
		<key>27</key>
		<string>Stand-by</string>
		<key>28</key>
		<string>Camera On</string>
		<key>29</key>
		<string>Camera Off</string>
		<key>2A</key>
		<string>On-Line</string>
		<key>2B</key>
		<string>Off-Line</string>
		<key>2C</key>
		<string>Busy</string>
		<key>2D</key>
		<string>Ready</string>
		<key>2E</key>
		<string>Paper-Out</string>
		<key>2F</key>
		<string>Paper-Jam</string>
		<key>30</key>
		<string>Remote</string>
		<key>31</key>
		<string>Forward</string>
		<key>32</key>
		<string>Reverse</string>
		<key>33</key>
		<string>Stop</string>
		<key>34</key>
		<string>Rewind</string>
		<key>35</key>
		<string>Fast Forward</string>
		<key>36</key>
		<string>Play</string>
		<key>37</key>
		<string>Pause</string>
		<key>38</key>
		<string>Record</string>
		<key>39</key>
		<string>Error</string>
		<key>3A</key>
		<string>Usage Selected Indicator</string>
		<key>3B</key>
		<string>Usage In Use Indicator</string>
		<key>3C</key>
		<string>Usage Multi Mode Indicator</string>
		<key>3D</key>
		<string>Indicator On</string>
		<key>3E</key>
		<string>Indicator Flash</string>
		<key>3F</key>
		<string>Indicator Slow Blink</string>
		<key>40</key>
		<string>Indicator Fast Blink</string>
		<key>41</key>
		<string>Indicator Off</string>
		<key>42</key>
		<string>Flash On Time</string>
		<key>43</key>
		<string>Slow Blink On Time</string>
		<key>44</key>
		<string>Slow Blink Off Time</string>
		<key>45</key>
		<string>Fast Blink On Time</string>
		<key>46</key>
		<string>Fast Blink Off Time</string>
		<key>47</key>
		<string>Usage Indicator Color</string>
		<key>48</key>
		<string>Indicator Red</string>
		<key>49</key>
		<string>Indicator Green</string>
		<key>4A</key>
		<string>Indicator Amber</string>
		<key>4B</key>
		<string>Generic Indicator</string>
		<key>4C</key>
		<string>System Suspend</string>
		<key>4D</key>
		<string>External Power Connected</string>
	</dict>
	<key>0x09</key>
	<dict>
		<key>00</key>
		<string>No Button Pressed</string>
		<key>*</key>
		<string>Button %d</string>
	</dict>
	<key>0x0A</key>
	<dict>
		<key>00</key>
		<string>Reserved</string>
		<key>*</key>
		<string>Instance %d</string>
	</dict>
	<key>0x0D</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Digitizer</string>
		<key>02</key>
		<string>Pen</string>
		<key>03</key>
		<string>Light Pen</string>
		<key>04</key>
		<string>Touch Screen</string>
		<key>05</key>
		<string>Touch Pad</string>
		<key>06</key>
		<string>White Board</string>
		<key>07</key>
		<string>Coordinate Measuring Machine</string>
		<key>08</key>
		<string>3D Digitizer</string>
		<key>09</key>
		<string>Stereo Plotter</string>
		<key>0A</key>
		<string>Articulated Arm</string>
		<key>0B</key>
		<string>Armature</string>
		<key>0C</key>
		<string>Multiple Point Digitizer</string>
		<key>0D</key>
		<string>Free Space Wand</string>
		<key>20</key>
		<string>Stylus</string>
		<key>21</key>
		<string>Puck</string>
		<key>22</key>
		<string>Finger</string>
		<key>30</key>
		<string>Tip Pressure</string>
		<key>31</key>
		<string>Barrel Pressure</string>
		<key>32</key>
		<string>In Range</string>
		<key>33</key>
		<string>Touch</string>
		<key>34</key>
		<string>Untouch</string>
		<key>35</key>
		<string>Tap</string>
		<key>36</key>
		<string>Quality</string>
		<key>37</key>
		<string>Data Valid</string>
		<key>38</key>
		<string>Transducer Index</string>
		<key>39</key>
		<string>Tablet Function Keys</string>
		<key>3A</key>
		<string>Program Change Keys</string>
		<key>3B</key>
		<string>Battery Strength</string>
		<key>3C</key>
		<string>Invert</string>
		<key>3D</key>
		<string>X Tilt</string>
		<key>3E</key>
		<string>Y Tilt</string>
		<key>3F</key>
		<string>Azimuth</string>
		<key>40</key>
		<string>Altitude</string>
		<key>41</key>
		<string>Twist</string>
		<key>42</key>
		<string>Tip Switch</string>
		<key>43</key>
		<string>Secondary Tip Switch</string>
		<key>44</key>
		<string>Barrel Switch</string>
		<key>45</key>
		<string>Eraser</string>
		<key>46</key>
		<string>Tablet Pick</string>
	</dict>
	<key>0x10</key>
	<dict>
		<key>*</key>
		<string>Unicode Character \u%04x</string>
	</dict>
	<key>0x40</key>
	<dict>
		<key>00</key>
		<string>Undefined</string>
		<key>01</key>
		<string>Medical Ultrasound</string>
		<key>20</key>
		<string>VCR/Acquisition</string>
		<key>21</key>
		<string>Freeze/Thaw</string>
		<key>22</key>
		<string>Clip Store</string>
		<key>23</key>
		<string>Update</string>
		<key>24</key>
		<string>Next</string>
		<key>25</key>
		<string>Save</string>
		<key>26</key>
		<string>Print</string>
		<key>27</key>
		<string>Microphone Enable</string>
		<key>40</key>
		<string>Cine</string>
		<key>41</key>
		<string>Transmit Power</string>
		<key>42</key>
		<string>Volume</string>
		<key>43</key>
		<string>Focus</string>
		<key>44</key>
		<string>Depth</string>
		<key>60</key>
		<string>Soft Step - Primary</string>
		<key>61</key>
		<string>Soft Step - Secondary</string>
		<key>70</key>
		<string>Depth Gain Compensation</string>
		<key>80</key>
		<string>Zoom Select</string>
		<key>81</key>
		<string>Zoom Adjust</string>
		<key>82</key>
		<string>Spectral Doppler Mode Select</string>
		<key>83</key>
		<string>Spectral Doppler Adjust</string>
		<key>84</key>
		<string>Color Doppler Mode Select</string>
		<key>85</key>
		<string>Color Doppler Adjust</string>
		<key>86</key>
		<string>Motion Mode Select</string>
		<key>87</key>
		<string>Motion Mode Adjust</string>
		<key>88</key>
		<string>2D Mode Select</string>
		<key>89</key>
		<string>2D Mode Select</string>
		<key>A0</key>
		<string>Soft Control Select</string>
		<key>A1</key>
		<string>Soft Control Adjust</string>
	</dict>
	<key>UsagePages</key>
	<dict>
		<key>0x00</key>
		<string>Undefined</string>
		<key>0x01</key>
		<string>Generic Desktop</string>
		<key>0x02</key>
		<string>Simulation Controls</string>
		<key>0x03</key>
		<string>VR Controls</string>
		<key>0x04</key>
		<string>Sports Controls</string>
		<key>0x05</key>
		<string>Game Controls</string>
		<key>0x06</key>
		<string>Generic Device Controls</string>
		<key>0x07</key>
		<string>Keyboard</string>
		<key>0x08</key>
		<string>LEDs</string>
		<key>0x09</key>
		<string>Button</string>
		<key>0x0A</key>
		<string>Ordinal</string>
		<key>0x0B</key>
		<string>Telephony</string>
		<key>0x0C</key>
		<string>Consumer</string>
		<key>0x0D</key>
		<string>Digitizer</string>
		<key>0x0F</key>
		<string>Physical Interface Device</string>
		<key>0x10</key>
		<string>Unicode</string>
		<key>0x14</key>
		<string>Alphanumeric Display</string>
		<key>0x40</key>
		<string>Medical Instruments</string>
		<key>0x80</key>
		<string>Monitor</string>
		<key>0x81</key>
		<string>Monitor Enumerated Values</string>
		<key>0x82</key>
		<string>VESA Virtual Controls</string>
		<key>0x83</key>
		<string>VESA Command</string>
		<key>0x84</key>
		<string>Power Device</string>
		<key>0x85</key>
		<string>Battery System</string>
		<key>0x86</key>
		<string>Power Device</string>
		<key>0x87</key>
		<string>Power Device</string>
		<key>0x8C</key>
		<string>Bar Code Scanner</string>
		<key>0x8D</key>
		<string>Scale</string>
		<key>0x8E</key>
		<string>Magnetic Stripe Reader</string>
		<key>0x8F</key>
		<string>Point of Sale (POS) Device (Reserved)</string>
		<key>0x90</key>
		<string>Camera Control</string>
		<key>0x91</key>
		<string>Arcade</string>
		<key>ReservedRangeString</key>
		<string>Reserved</string>
		<key>VendorDefinedRangeString</key>
		<string>Vendor Defined</string>
	</dict>
</dict>
</plist>
